.container {
    display: flex;
    flex-direction: column; /* Ορίζει τον διάταξη των στοιχείων ως κολώνες */
    align-items: center; /* Κεντράρει τα στοιχεία κατά μήκος του κατακόρυφου άξονα */
    justify-content: center; /* Κεντράρει τα στοιχεία κατά μήκος του οριζόντιου άξονα */
    height: 100vh; /* Κάνει το container να καλύπτει όλο το ύψος της οθόνης */ 
}

.btn-container {
    margin-bottom: 10px; /* Προσθέτει κάποιο κενό κάτω από τα κουμπιά */
}

.btn-primary {
    background-color:brown; /* Χρώμα φόντου κουμπιών */
    color:black; /* Χρώμα γραμμάτων */
    border: none; /* Καθορίζει ότι δεν θα υπάρχει περίγραμμα στο κουμπί */
    padding: 10px 20px; /* Προσθέτει εσωτερικό περιθώριο γύρω από το κείμενο του κουμπιού */
    border-radius: 5px; /* Κάνει τις γωνίες του κουμπιού λείες */
    transition: background-color 0.3s, color 0.3s; /* Κάνει τη μετάβαση του χρώματος του φόντου και του χρώματος των γραμμάτων ομαλή */
    font-weight: bold; /* Κάνει το κείμενο bold */
}

.btn-primary:hover {
    background-color: black; /* Χρώμα φόντου κουμπιών όταν το ποντίκι περνά πάνω από το κουμπί */
    color: white; /* Χρώμα γραμμάτων όταν το ποντίκι περνά πάνω από το κουμπί */
    font-weight: bold; /* Κάνει το κείμενο bold */
}
