<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title> User Home</title>
        <!--link for the icons-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="rescuer-menu.component.css">

    </head>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="sidebar">
            <div class="top">
                <div class="logo">
                    <i class="bx bxl-codepen"></i>
                    <span> Rescue Zone</span>
                </div>
                
            </div>
            <div class="rescuer">
                <i class='bx bx-hard-hat'></i>
                <div>
                    <p class="bold"> RescuerFullname</p>
                    <p>Rescuer</p>
                </div>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <i class="bx bxs-grid-alt"></i>
                        <span class="nav-item">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-map-pin' ></i>
                        <span class="nav-item">Maps</span>
                    </a>
                    <span class="tooltip">Maps</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-task' ></i>
                        <span class="nav-item">Tasks</span>
                    </a>
                    <span class="tooltip">Tasks</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-bus' ></i>
                        <span class="nav-item">Vehicle Cargo</span>
                    </a>
                    <span class="tooltip">Vehicle Cargo</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-log-out"></i>
                        <span class="nav-item">Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </ul>

        </div>
       
       
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Κουμπί για να ανοίγει/κλείνει το sidebar -->
        <p><button mat-button (click)="sidenav.toggle()"><i class="bx bx-menu" id="btn"></i></button></p>

        <div class="main-content">
            <div class="container">
                <h1>Rescue Zone</h1>
                <img src="help.jpg" alt="background" class="background-img">
            </div>
        </div>
       
    </mat-sidenav-content>
</mat-sidenav-container>
