.navbar-dark .navbar-nav .nav-link {
  color:#FFFFFF; /* Χρώμα κειμένου */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #FFFFFF; /* Χρώμα εικονιδίου toggle */
}

.navbar-dark .navbar-toggler-icon:focus {
  outline: none; /* Αφαιρέστε το περίγραμμα όταν γίνεται focus */
}

.btn-primary {
  background-color: firebrick; /* Χρώμα κουμπιού */
  border-color:firebrick; /* Χρώμα περιγράμματος κουμπιού */
}
.half-image-container {
  width: 80%; /* Πλάτος του πλαισίου */
  height: 300px; /* Ύψος του πλαισίου - προσαρμόστε το ύψος όπως θέλετε */
  background-image: url('rescue.webp'); /* URL της εικόνας */
  background-size: 30% 100%; /* Κάνει την εικόνα να καλύπτει το μισό πλάτος του πλαισίου */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
  background-position:right; /* Τοποθετεί την εικόνα στο δεξί κέντρο του πλαισίου */
}

.half-image-container {
  width: 100%; /* Πλάτος του πλαισίου */
  height: 300px; /* Ύψος του πλαισίου - προσαρμόστε το ύψος όπως θέλετε */
  background-image: url('logo.png'); /* URL της εικόνας */
  background-size: 50% 100%; /* Κάνει την εικόνα να καλύπτει το μισό πλάτος του πλαισίου */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
  background-position:left; /* Τοποθετεί την εικόνα στο δεξί κέντρο του πλαισίου */
}

.navbar-dark .navbar-nav .nav-link {
  color:#FFFFFF; /* Χρώμα κειμένου */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #FFFFFF; /* Χρώμα εικονιδίου toggle */
}

.navbar-dark .navbar-toggler-icon:focus {
  outline: none; /* Αφαιρέστε το περίγραμμα όταν γίνεται focus */
}

.btn-primary {
  background-color:firebrick;/* Χρώμα κουμπιού */
  border-color:firebrick; /* Χρώμα περιγράμματος κουμπιού */
}
.display-5 {
  color: #000000; /* Μαύρο χρώμα για τον τίτλο */
}









