<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">The early rescue website!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="about.html"[routerLink]="['/map']">Map</a></li>
                        <span style="margin-right: 20px;"></span>
                        <button type="button" class="btn btn-primary" [routerLink]="['/login']">Login</button>
                        <span style="margin-right: 20px;"></span>
                        <button type="button" class="btn btn-primary" [routerLink]="['/register']">Register</button>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <div class="header-container">
            <div class="container px-5">
              <div class="row gx-5 align-items-center justify-content-between">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                <!-- <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-black mb-2"><em>Rescue Zone</em></h1>
                  </div>-->
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        <img class="img-fluid rounded-3 my-5" src="logo.png" alt="..." />
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                  <img class="img-fluid rounded-3 my-5" src="rescue.webp" alt="..." />
                </div>
              </div>
            </div>
            <div class="container">
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <button type="button" class="btn btn-primary" [routerLink]="['']">Back</button>
              </div>
            </div>
          </div>

        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                           <h2 class="h5">Are you a citizen and you are afraid of the natural disasters?</h2>
                                <p class="mb-0">If you are afraid of the natural disasters that happen in our country and you want to know that you can rely on someone who will take care of you and save you in these cases, you should register on our website!</p>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
       
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2024</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>