<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <title>Database Storage</title>
    </head>
    <body>
    
        <div class="container text-center mt-4">
            <p style="text-align: center; font-size: 20px; font-weight: bold;">
                Database Storage Products
            </p>
            
            <div class="row d-flex">
                <table class="table table-white table-hover" id="datatableexample">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ammount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of ProductList" >
                            <td>{{group.ProductID}}</td>
                            <td>{{group.name}}</td>
                            <td>{{group.Ammount}}</td>
                        </tr>      
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container text-center mt-4">
            <p style="text-align: center; font-size: 20px; font-weight: bold;">
                Database Storage Vehicle Cargo
            </p>
            
            <div class="row d-flex">
                <table class="table table-white table-hover" id="datatableexample">
                    <thead>
                        <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Vehicle Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of VnameTable" >
                            <td>{{group.ProductId}}</td>
                            <td>{{group.ProductName}}</td>
                            <td>{{group.Vname}}</td>
                        </tr>      
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    
    </body>
</html>