

<div>
    <label for="dataFilter">Επιλογή Δεδομένων:</label>
    <select id="dataFilter" [(ngModel)]="selectedDataType">
      <option value="all">Όλα</option>
      <option value="acceptedRequests">Αιτήματα που έχουν αναληφθεί</option>
      <option value="pendingRequests">Αιτήματα που είναι εκκρεμή</option>
      <option value="pendingOffers">Προσφορές που είναι εκκρεμείς</option>
      <option value="receivedOffers">Προσφορές που έχουν ληφθεί</option>
    </select>
  
    <button (click)="filterMap(selectedDataType)">Φιλτράρισμα</button>
  </div>
  
  <!-- current-tasks.component.html -->
  <div *ngIf="visible">
    <button  >Φόρτωση</button>
    <button (click)="UnloadTask()">Εκφόρτωση</button>
  </div>
  
<div id="currentTasksPanel">
    <h2>Τρέχοντα Tasks</h2>
    <ul>
      <li *ngFor="let task of taskDetails ">
        <div>
          <strong>Ονοματεπώνυμο:</strong> {{ task.Uname }}<br>
          <strong>Ημερομηνια:</strong> {{ task.ReqDate }}<br>
          <strong>Είδος:</strong> {{ task.ProductName }}<br>
          <strong>Ποσότητα:</strong> {{ task.Ammount }}<br>
        </div>
        
                <div>
       <button >Ολοκληρώθηκε</button> 
          <button >Ακύρωση</button>
        </div>
      </li>
    </ul>
  </div>
  
  <div *ngIf="UnloadTask">
    
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ammount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offerr of UnloadOffers; let i = index">
          <td>{{ offerr.ProductName }}</td>
          <td>{{ offerr.Ammount }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>


<div id="map"></div>
