<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="wrapper">
            <div class="row">
                <h1>Login</h1>
                    <form>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="course"  placeholder="Email" required>
                            <i class='bx bxs-envelope'></i>
                        </div>
                        <div class="form-group">
                            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="fee"  placeholder="Password" required>
                            <i class='bx bxs-lock-alt' ></i>
                        </div>
                        <br>
                            <div class="form-group">
                                <button type="Submit" class="btn-primary" (click)="login()">Login</button>
                            </div>
                        <div class="register-link">
                            <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
                        </div>
                        <div class="home-link">
                            <p><a [routerLink]="['/']">Home</a></p>
                        </div>
            
                    </form>
            </div>
        </div>
    </body>
</html>