#map {
    height: 60vh;
    width: 80vh;
    margin: auto;
  }

   /* Στυλ για το dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Στυλ για το κουμπί "Submit" */
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #45a049;
  }

  