<!-- Πίνακας για τις κατηγορίες -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
  <title>Requests Page</title>
</head>


<div class="container text-center mt-4">
<table class="table table-striped table-bordered table-sm" *ngIf="!selectedCategoryId">
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; let i = index" (click)="getProductsByCategory(category.id)">
      <td>{{ i + 1 }}. {{ category.category }}</td>
    </tr>
  </tbody>
</table>



<div *ngIf="selectedCategoryId && !selectedProductId">
  <button (click)="goBack()">Back to Categories</button>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredOffers; let i = index" (click)="selectProduct(product.id,product.name)">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Εμφάνιση φόρμας μετά την επιλογή προϊόντος -->
  <div *ngIf="selectedProduct && formVisible">
    <form (ngSubmit)="onSubmit()">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" [(ngModel)]="selectedProductQuantity" required>
      <button type="submit" (click)="informdatabase()">Submit</button>
      
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>